<component name="ArtifactManager">
  <artifact type="exploded-war" name="springmvc03-annotation:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/springmvc03_annotation_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="springmvc03-annotation/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springmvc03-annotation" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:5.2.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:5.2.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:5.2.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-tx:5.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.2.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:5.2.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:5.2.7.RELEASE" />
          <element id="library" level="project" name="Maven: javax.servlet:servlet-api:2.5" />
          <element id="library" level="project" name="Maven: mysql:mysql-connector-java:8.0.20" />
          <element id="library" level="project" name="Java EE 6-Java EE 6" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jdbc:5.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: javax.servlet.jsp:jsp-api:2.2" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:5.2.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:5.2.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.projectlombok:lombok:1.18.10" />
          <element id="library" level="project" name="Maven: org.mybatis:mybatis-spring:2.0.5" />
          <element id="library" level="project" name="Maven: org.slf4j:slf4j-api:1.6.1" />
        </element>
      </element>
    </root>
  </artifact>
</component>