<?xml version="1.0" encoding="GBK" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace=绑定一个对应的Dao/Mapper接口-->
<mapper namespace="com.frans.dao.UserDao">

    <!--select查询语句-->
    <select id="getUserList" resultType="com.frans.pojo.Users">
       select * from jdbc.users;
   </select>

    <select id="getUserById" resultType="com.frans.pojo.Users">
        select * from jdbc.users where id = #{id};
    </select>

    <insert id="addUsers" parameterType="com.frans.pojo.Users">
        insert into jdbc.users (id, name, password, address) values (#{id}, #{name}, #{password}, #{address});
    </insert>

    <update id="updateUser" parameterType="com.frans.pojo.Users">
        update jdbc.users set name=#{name}, password=#{password} where id = #{id};
    </update>
    
    <delete id="deleteUser" parameterType="com.frans.pojo.Users">
        delete from jdbc.users where id = #{id};
    </delete>


    <!--对象中的属性，可以直接取出来    传递map的key-->
    <insert id="addUser2" parameterType="map">
        insert into jdbc.users (id, name, password, address) values (#{id1}, #{name2}, #{password3}, #{address4});
    </insert>
</mapper>