<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ListStaff</servlet-name>
    <servlet-class>control.ListStaff</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>control.Login</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Research</servlet-name>
    <servlet-class>control.Research</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Delet</servlet-name>
    <servlet-class>control.Delet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteStaffServlet</servlet-name>
    <servlet-class>control.DeleteStaffServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DoUpdateStaffServlet</servlet-name>
    <servlet-class>control.DoUpdateStaffServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>InsertStaffServlet</servlet-name>
    <servlet-class>control.InsertStaffServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateStaffServlet</servlet-name>
    <servlet-class>control.UpdateStaffServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SearchStaffServlet</servlet-name>
    <servlet-class>control.SearchStaffServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateStaffServlet1</servlet-name>
    <servlet-class>control.UpdateStaffServlet1</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ListPay</servlet-name>
    <servlet-class>control.ListPay</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdatePayServlet</servlet-name>
    <servlet-class>control.UpdatePayServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DoUpdatePayServlet</servlet-name>
    <servlet-class>control.DoUpdatePayServlet</servlet-class>
  </servlet>













  <servlet-mapping>
    <servlet-name>ListStaff</servlet-name>
    <url-pattern>/servlet/ListStaff</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/servlet/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Research</servlet-name>
    <url-pattern>/servlet/Research</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Delet</servlet-name>
    <url-pattern>/servlet/Delet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteStaffServlet</servlet-name>
    <url-pattern>/servlet/DeleteStaffServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoUpdateStaffServlet</servlet-name>
    <url-pattern>/servlet/DoUpdateStaffServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsertStaffServlet</servlet-name>
    <url-pattern>/servlet/InsertStaffServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateStaffServlet</servlet-name>
    <url-pattern>/servlet/UpdateStaffServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchStaffServlet</servlet-name>
    <url-pattern>/servlet/SearchStaffServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateStaffServlet1</servlet-name>
    <url-pattern>/servlet/UpdateStaffServlet1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListPay</servlet-name>
    <url-pattern>/servlet/ListPay</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdatePayServlet</servlet-name>
    <url-pattern>/servlet/UpdatePayServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoUpdatePayServlet</servlet-name>
    <url-pattern>/servlet/DoUpdatePayServlet</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
